# RAG Library Requirements
llama-index
# HF Embeddings
llama-index-embeddings-huggingface
llama-index-embeddings-huggingface-api
# HF LLMs
llama-index-llms-huggingface
llama-index-llms-huggingface-api

fastapi
faiss-cpu
llama-index-vector-stores-faiss
llama-index-vector-stores-chroma
llama-index-vector-stores-azurecosmosmongo
uvicorn
# For UTs
pytest