# Dependencies for TFS

# Core Dependencies
vllm==0.6.3
transformers == 4.45.0
torch==2.4.0
accelerate==1.0.0
fastapi>=0.111.0,<0.112.0  # Allow patch updates
pydantic>=2.9
uvicorn[standard]>=0.29.0,<0.30.0  # Allow patch updates
uvloop
peft==0.11.1
numpy<3.0,>=1.25.0
sentencepiece==0.2.0
jinja2>=3.1.0

# Utility libraries
datasets==2.19.1
peft==0.11.1
bitsandbytes==0.42.0
sentencepiece==0.2.0

# Less critical, can be latest
gputil
psutil
trl
